body {
  margin: 0;
  font-family: 'joker','courier', monospace;
    background: linear-gradient(89deg ,hsl(0, 5%, 26%) -10%, #faf6f6 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
